<%= render 'pages/home' %>

<h1>Most Recent Posts</h1>

<table id="post-info">
  <tr>
    <th>Article Title</th>
    <th>URL</th>
    <th>Article Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= auto_link(post.URL) %></td>
    <td><%= post.summary %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
