<p id="notice"><%= notice %></p>

<p>
  <b>Article Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>URL:</b>
  <%= auto_link(@post.URL) %>
</p>

<p>
  <b>Blabber:</b>
  <%= @post.blabber %>
</p>

<% if user_signed_in? && current_user == @post.user %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
 <% end %>

<%= link_to 'Back', posts_path %>
<BR>
<BR>
<p>
  <b>Comments:</b>
  <%= render :partial => 'comments/commentform', :locals => { :comment => @new_comment } %>
  <%= render :partial => 'comments/comment', :collection => @comment, :as => :comment %>
</p>