<p id="notice"><%= notice %></p>

<p>
  <b>Article Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>URL:</b>
  <%= @post.URL %>
</p>

<p>
  <b>Article Summary:</b>
  <%= @post.summary %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
